.App {
  /* text-align: center; */
  width: 86%;
  margin: auto;
  max-width: 1280px;
}
.customer-review {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
}
hr {
  border-top: #ddd;
}
.size1 {
  width: 32%;
}
