.section7 {
  margin: 65px 0;
}
.section7 h1 {
  color: #222;
  line-height: 26px;
  line-height: 30px;
  margin-bottom: 8px;
}
.section7 p {
  color: #717171;
  line-height: 16px;
}
.section7 button {
  padding: 16px 24px;
  background-color: #222;
  color: #fff;
  text-align: center;
  font-size: 16px;
  margin-top: 30px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  line-height: 16px;
  border-style: none;
  margin-bottom: 40px;
}
.section7-location {
  display: flex;
  align-items: center;
  padding: 15px 0;
}
.section7-icon {
  color: #717171;
  padding: 0 10px;
  size: sm;
}
.section7 h3 {
  color: #222;
  font-weight: 500;
  font-size: 16px;
}
