.section5 {
  display: flex;
  margin: 43px 0 40px;
  justify-content: space-between;

  /* width: 32%; */
  /* justify-content: space-between; */
}
.section5-middle,
.section5-left,
.section5-right {
  width: 32%;
}
.section5 h3 {
  font-size: 22px;
  line-height: 26px;
  font-weight: 600px;
  color: #222;
  margin-bottom: 8px;
}
.icons {
  margin-bottom: 16px;
  color: #484848;
  line-height: 1.43;
}
.section5 p {
  font-size: 16px;
  line-height: 24px;

  color: #222;
}
.icons1 {
  color: #484848;
}
