.section2 {
  margin-bottom: 50px;
}

.section2-bg {
  /* background-image: url(../../images/section2bk-g.jpg); */
  background-image: url(../../../public/images/section2bk-g.jpg);
  background-repeat: no-repeat;
  max-width: 100%;
  background-size: cover;
  border-radius: 20px;
  cursor: pointer;
}
.section2__text {
  width: 40%;
  align-items: left;
  text-align: left;
  border-radius: 5px;
  color: #fff;
  padding: 142px 80px;
  cursor: auto;
}
.section2__textH1 {
  font-size: 45px;
}
.section2 button {
  cursor: pointer;
  background-color: #fff;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 8px;
  border-style: none;
  font-size: 16px;
  margin-top: 45px;
  border-color: black;
}
.section2 button:hover {
  background-color: #ebebeb;
}
